.reviewContainer{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reviewTitle{
    color: #4B055D;
    font-size: 35px;
    margin-block-end: 0px;
}

.description{
    width: 65%;
    padding-left: 60px;
    padding-right: 60px;
}

.des-text{
    margin-block-start: 0px;
    font-size: 15px;
    text-align: center;
    color: rgb(67, 67, 67);
}

.reviewCardWrapper{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    padding: 0px;
}

.reviewCardButton{
    background-color: transparent;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #4d4c4c;
}

.reviewCardButton:hover{
    box-shadow: 3px 3px 10px #4B055D;
}
