.pricingCard{
    width: 180px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.pricingCard-body{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

.pricingType{
    margin-block-end: 0px;
}

.lineBreak{
    width: 160px;
    height: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.price{
    margin-block-start: 0px;
}

.featureList{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 2px;
    
}

.items{
    color: rgb(85, 83, 83);
}

.button{
    padding-bottom: 12px;
}

.packageButton{
    background-color: #C8A8AA; 
    border: none;
    width: 140px;
    color: #4B055D;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
}

.pricingCardButton:hover .pricingCard-body{
    color: white;
    background-color: #4B055D;
}

.pricingCardButton:hover .packageButton{
    color: white;
    background-color: #4B055D;
}

.pricingCardButton:hover{
    border: 2px solid #4B055D ;
    box-shadow: none;
}