.pricingContainer{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choosePlanHead{
    color: #4B055D;
    font-size: 35px;
}

.pricingCardWrapper{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
}

.pricingCardButton{
    background-color: transparent;
    padding: 0;
    border: none;
    box-shadow: 2px 2px 15px #4d4c4c;
}

